{% comment %} {% assign avg_rating = block.settings.product.metafields.demo.avg_rating.value | round %} {% endcomment %}
{{ 'custom.css' | asset_url | stylesheet_tag }}
<script src="{{ 'custom.js' | asset_url }}" async></script>
<style>
  .pulse::before {
  border: 1px solid {{ block.settings.buttonColour }};
}
.pulse::after {
  border: 1px solid {{ block.settings.buttonColour }};
}
</style>
<div class="callToButton" id="showPopup" style="background-color: {{ block.settings.backgroundColor }};">
  <div class="callBox">
    {% if block.settings.image %}
      <img
        src="{{ block.settings.image | image_url: width: '80', height: '80', crop: 'center' }}"
        alt=""
        loading="eager"
        width="80"
        height="80" />
    {% else %}
      <img
        src="{{ "avatar.png" | asset_url }}"
        alt=""
        loading="eager"
        width="80"
        height="80" />
    {% endif %}

    <h2 style="color: {{ block.settings.contentColor }}">{{ block.settings.name }}</h2>
    <span style="color: {{ block.settings.contentColor }}">{{ block.settings.subtitle }}</span>
    <p style="color: {{ block.settings.contentColor }}">{{ block.settings.description }}</p>
    <a href="tel:{{ block.settings.phone }}">
      <div class="callButton">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="{{ block.settings.phoneColour }}"
          class="w-6 h-6">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
        </svg>

        <p class="phoneNumber" style="color: {{ block.settings.phoneColour }}">
          {{ block.settings.phone }}</p>
      </div>
    </a>
  </div>
</div>

<div
  class="content-center"
  onclick="callMeButtonShow()"
  id="showButton">
  <div class="pulse" style="background-color: {{ block.settings.buttonColour }};">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
    </svg>
  </div>
</div>
<div
  class="closeBox"
  onclick="callMeButtonHide()"
  id="closeButton">
  <div class="closeButton">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M6 18L18 6M6 6l12 12" />
    </svg>
  </div>
</div>

{% schema %}
  {
    "name": "Click To Call",
    "target": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Caller Image"
      },
      {
        "type": "text",
        "id": "name",
        "label": "Caller Name",
        "default": "John Doe"
      },
      {
        "type": "text",
        "id": "subtitle",
        "label": "Caller Subtitle",
        "default": "Boat Expert"
      },
      {
        "type": "textarea",
        "id": "description",
        "label": "Caller Description",
        "default": "Planing a boating adventure mate? Let me help you choose your beauty"
      }, {
        "type": "text",
        "id": "phone",
        "label": "Caller Phone",
        "default": "(408) 123-4567"
      }, 
      {
        "type": "color",
        "id": "phoneColour",
        "label": "Phone Colour",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "buttonColour",
        "label": "Call Button Colour",
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "backgroundColor",
        "label": "Background Colour",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "contentColor",
        "label": "Content Colour",
        "default": "#000000"
      }
    ]
  }
{% endschema %}